<!-- main app container -->
<div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Face Qualification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inbox']">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/identities']">Identities</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="fixed-bottom">
    <div>
      <p>
        <a href="https://github.com/lusubelli/ia-client" target="_top">Face learning</a>/<a
        href="https://github.com/lusubelli" target="_top">&#xa9; lusubelli</a>
      </p>
    </div>
  </footer>

</div>


